.about_section{
    padding: 100px 0;
}
.about_section .about_row{
    padding-top: 100px;
}
.about_section .about_row .about_col .about_left{
    position: relative;
    height: 100%;
    width: 100%;
}
.about_section .about_row .about_col .about_left img{
    max-width: 300px;
    position: absolute;
    border-radius: 20px;
    border: 1px solid var(--w);
}
.about_section .about_row .about_col .about_left img:first-child{
    top: 50%;
    left: 40%;
    transform: translate(-50%,-50%) rotate(-10deg);
}
.about_section .about_row .about_col .about_left img:last-child{
    max-width: 200px;
    top: 25%;
    right: 0%;
    transform: translate(-50%,-50%) rotate(10deg);
}
.about_section .about_row .about_col .about_right .about_inner_title{
    color: var(--w);
    font-size: 50px;
    font-weight: 600;
    line-height: 80px;
}
.about_section .about_row .about_col .about_right .about_inner_info{
    color: var(--w);
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    opacity: .7;
    margin-top: 30px;
    margin-bottom: 30px;
}
.about_section .about_row .about_col .about_right .about_inner_info span{
    display: block;
    margin-top: 30px;
}







/* =============================================================
                Responsive CSS Starts Here
==============================================================*/

@media (min-width: 1400px) {}

@media (min-width: 1311px) and (max-width: 1399.98px) {}

@media (min-width: 1200px) and (max-width: 1310.98px) {}

@media (min-width: 992px) and (max-width: 1199.98px) {}

@media (min-width: 768px) and (max-width: 991.98px) {}

@media (min-width: 576px) and (max-width: 767.98px) {}

@media (max-width: 575.98px) {
    .about_section {
        padding: 0 0 0;
    }
    .about_section .about_row {
        padding-top: 170px;
    }
    .about_section .about_row .about_col .about_right{
        margin-top: 170px;
    }
    .about_section .about_row .about_col .about_left img {
        max-width: 200px;
    }
    .about_section .about_row .about_col .about_left img:first-child {
        left: 40%;
    }
    .about_section .about_row .about_col .about_left img:last-child {
        max-width: 140px;
        right: -10%;
    }
    .about_section .about_row .about_col .about_right{
        text-align: center;
    }
    .about_section .about_row .about_col .about_right .about_inner_title {
        font-size: 30px;
        line-height: 50px;
    }
    .about_section .about_row .about_col .about_right .about_inner_info {
        font-size: 12px;
        line-height: 28px;
    }
    .about_section .about_row .about_col .about_right .about_inner_info span {
        margin-top: 15px;
    }
}